@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --primaryColor: hsl(164, 90%, 40%);
    --backgroundColor: hsl(164, 44%, 95%);
    --foregroundColor: hsl(162, 42%, 10%);
    --navHeight: 4rem;
    --footerHeight: 2rem;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
}

p {
    line-height: 161.8%;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 120%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .75rem;
}

nav, footer {
    background-color: var(--primaryColor);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--backgroundColor);
}

nav {
    height: var(--navHeight);
    flex-direction: column;
}

nav > h4 {
    margin-right: 1rem;
}

nav > .buttons > a {
    color: var(--backgroundColor);
    transition: 250ms ease-in-out;
    cursor: pointer;
}

nav > .buttons > a:hover {
    opacity: 80%;
}

footer {
    height: var(--footerHeight);
}

section {
    min-height: calc(100vh - var(--navHeight) - var(--footerHeight));
    width: 100%;
    padding: 4rem;
}

form {
    min-width: 60%;
    margin-bottom: 3rem;
}

input {
    width: 100%;
    border: .2rem solid var(--primaryColor);
    padding: .75rem;
    font-size: 1.25rem;
    border-radius: .25rem;
    font-family: inherit;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: .75rem;
    display: block;
    border: none;
    border-radius: .25rem;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    font-size: 1rem;
    font-family: inherit;
    transition: 250ms ease-in;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.no-data {
    background-color: white;
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.1);
    padding: 4rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .25rem;
}

.container > h3 {
    margin-bottom: 2rem;
}

.definition {
    background-color: white;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.historial-card {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: 1px solid var(--primaryColor);
    margin-bottom: 2rem;
}

.historial-card > .left {
    background-color: var(--primaryColor);
    flex: 1;
    margin-right: 1rem;
    border-radius: .25rem;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--backgroundColor);
}

.historial-card .label {
    font-size: .75rem;
    filter: brightness(20%);
    line-height: 100%;
}

.historial-card .value {
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 100%;
}

.historial-card > .right {
    flex: 4;
}